body {
	--font-size-default: 16px;
	--font-family-default: "Montserrat", sans-serif;

	--color-text-default: #222020;
	--color-text-grey: #7a7a7a;
	--color-yellow: #fff2e1;
	--color-white: #ffffff;
	--color-grey: #f4f4f4;
	--color-theme-main: #a79277;
	--color-price: #c60c0c;
}
