.productsWrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.bestsellersHeader {
	margin-top: 3rem;
	margin-bottom: 2rem;
	border-bottom: 3px solid black;
	width: max-content;
}

@media only screen and (max-width: 900px) {
	
	

	.productsWrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	
	}

	.bestsellersHeader {
		margin-top: 3rem;
		margin-bottom: 2rem;
		border-bottom: 3px solid black;
		width: max-content;
	}
}
