.footer {
	width: 100%;
	height: auto;
	margin-top: 1rem;

	background-color: var(--color-text-default);
	color: var(--color-white);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.ulSection {
	display: flex;
	gap: 15rem;
}

.ulContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 2rem;
}

.heading {
	font-size: 1rem;
}

.footerList {
	display: flex;
	gap: 5rem;
	font-size: 0.8rem;
}

.liContainer {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	cursor: pointer;
	color: #cbc8c8;
}

.liContainer li:hover {
	color: white;
}

.footerEnding {
	align-self: flex-end;
	margin: 1rem;
	font-size: 0.8rem;
}
