.checkboxContainer {
	display: flex;
	gap: 2rem;
	padding: 0.5rem;
	font-size: 0.8rem;
	text-align: justify;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-width: 60rem;
}

.checkbox {
	width: 1rem;
	align-self: start;
	cursor: pointer;
}

.blueSpan {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.heading {
	font-size: 1rem;
}
