.button {
	border: none;
	background: none;
	width: 100%;
	padding: 1rem 0;
	color: var(--color-white);
	text-transform: uppercase;
	background-color: var(--color-theme-main);
	font-weight: 700;
	transition: all 0.3s;

	&:hover {
		background-color: var(--color-text-default);
	}
}

.black {
	background-color: var(--color-text-default);

	&:hover {
		background-color: var(--color-theme-main);
	}
}
